body {
  background: #efefef;
}

#loading, .loading {
  text-align: center;
}

.User {
  text-align: center;
  &-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
  }
  &-name {
    font-size: 18px;
    line-height: 2em;
    font-weight: bold;
  }
}

.Posts {
  text-align: center;
  list-style: none;
  padding: 0;
}
